<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="<%= @relative_base_path %>/css/pages.css">
        <link rel="stylesheet" href="<%= @relative_base_path %>/css/pygments.css">
        <link type="text/css" rel="stylesheet" href="<%= @relative_base_path %>/css/jquery.dropdown.css" />
    </head>
    <body>

      <div id="top">&nbsp;</div>

      <%= render 'templates/header' %>

      <%= render 'templates/sidebar' %>

      <!-- Page. -->
      <div class="page">

        <!-- Page nav. -->
        <nav class="page-nav">
            <h4 class="page-nav__title"><%= @package_path %></h4>
            <ul id="page-nav__list" class="page-nav__list">
            </ul>
        </nav><!-- End page nav. -->

        <div class="content">
          <!-- Content header. -->
          <header class="content-header">
            <h1>Examples</h1>
          </header>

          <section id="example-grid">
            <span class="is-light">Examples</span><br/>
            <% @examples.sort.each do |key, example_doc| %>
              <div class="example">
                <a href="<%= File.join(example_doc.name, "index.html") %>" title="<%= example_doc.data[:title] %>">
                  <% if example_doc.data[:thumbnail] %>
                    <img border="0" src="<%= File.join(example_doc.name, example_doc.data[:thumbnail]) %>" />
                  <% else %>
                    <div class="placeholder"><%= example_doc.name %></div>
                  <% end %>
                </a>
              </div>
            <% end %>
          </section>
        </div>
      </div>

      <script type="text/javascript" src="<%= @relative_base_path %>/js/vendor/fuse.min.js"></script>
      <script type="text/javascript" src="<%= @relative_base_path %>/js/vendor/jquery-1.9.0.min.js"></script>
      <script type="text/javascript" src="<%= @relative_base_path %>/js/vendor/jquery.easing.min.js"></script>
      <script type="text/javascript" src="<%= @relative_base_path %>/js/vendor/underscore-min.js"></script>
      <script type="text/javascript" src="<%= @relative_base_path %>/js/authored/onscroll.js"></script>
      <script type="text/javascript" src="<%= @relative_base_path %>/js/authored/table-of-contents.js"></script>
      <script type="text/javascript" src="<%= @relative_base_path %>/js/authored/inherited-properties.js"></script>
      <script type="text/javascript" src="<%= @relative_base_path %>/js/authored/twirldowns.js"></script>
      <script type="text/javascript" src="<%= @relative_base_path %>/js/authored/id-link-intercept.js"></script>
      <script type="text/javascript">
        var relative_base = "<%= @relative_base_path %>";
      </script>
      <script type="text/javascript" src="<%= @relative_base_path %>/js/data.js"></script>
      <script type="text/javascript" src="<%= @relative_base_path %>/js/authored/sidebar.js"></script>
      <script type="text/javascript" src="<%= @relative_base_path %>/js/vendor/jquery.dropdown.js"></script>
      <script type="text/javascript" src="<%= @relative_base_path %>/js/authored/search.js"></script>
    </body>
</html>
