<% if @doc.package_path == @field[:defined_by].package_path %>
    <tr>
        <td class="overview-box__name-col">
            <a href="#attribute-<%= @field[:name] %>"><strong><%= @field[:name] %></strong></a>: <%= @doc.object_type(@field, @relative_base_path) %> 
        </td>
        <td class="overview-box__description-col">
            <%= @doc.deprecated(@field[:docString]) %>
            <% if is_static( @field[:fieldattributes] ) %><span class="special-property">static </span><% end %>
            <% if is_native( @field[:fieldattributes] ) %><span class="special-property">native </span><% end %>
            <% if is_getter( @field ) && !is_setter( @field ) %><span class="special-property">read-only </span><% end %>
            <% if !is_getter( @field ) && is_setter( @field ) %><span class="special-property">write-only </span><% end %>
            <%= first_sentence @doc.comment(@field, @relative_base_path) %>
        </td>
    </tr>
<% else %>
    <tr class="inherited" style="display:none;">
        <td class="overview-box__name-col">
            <span class="inherited-icon"></span><a href="#attribute-<%= @field[:name] %>"><strong><%= @field[:name] %></strong></a>: <%= @doc.object_type(@field, @relative_base_path) %>
            <br>
            <span class="is-light">Inherited from <a href="<%= url( @field[:defined_by].package_path ) %>"><%= abbr_path( @field[:defined_by].package_path ) %></a></span>
        </td>
        <td class="overview-box__description-col">
            <%= @doc.deprecated(@field[:docString]) %>
            <% if is_static( @field[:fieldattributes] ) %><span class="special-property">static </span><% end %>
            <% if is_native( @field[:fieldattributes] ) %><span class="special-property">native </span><% end %>
            <% if is_getter( @field ) && !is_setter( @field ) %><span class="special-property">read-only </span><% end %>
            <% if !is_getter( @field ) && is_setter( @field ) %><span class="special-property">write-only </span><% end %>
            <%= first_sentence @doc.comment(@field, @relative_base_path) %>
        </td>
    </tr>
<% end %>