<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Loom SDK: <%= @doc.path == "" ? "Guides" : @doc.path.split("_").last %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="<%= @relative_base_path %>/css/pages.css">
        <link rel="stylesheet" href="<%= @relative_base_path %>/css/pygments.css">
        <link type="text/css" rel="stylesheet" href="<%= @relative_base_path %>/css/jquery.dropdown.css" />
    </head>
    <body>

        <div id="top">&nbsp;</div>

        <%= render 'templates/header' %>

        <%= render 'templates/sidebar' %>

        <!-- Page. -->
        <div class="page">

            <!-- Page nav. -->
            <nav class="page-nav">
                <h4 class="page-nav__title"><%= @topic_path.split("_").last %></h4>
                <ul id="page-nav__list" class="page-nav__list">
                </ul>
            </nav><!-- End page nav. -->

            <!-- Content. -->
            <div class="content">

                <!-- Content header. -->
                <header class="content-header">

                    <% if @doc.path == "" %>
                      <h1>Guides</h1>
                    <% else %>

                      <h1><%= @doc.path.split("_").last %></h1>

                    <% end %>
                    <p>
                        <% if @doc.sub_topics.any? %>
                          <span class="is-light">subtopics</span>
                          <% @doc.sub_topics.sort.each do |key, topic_doc| %>
                            <br><a href='<%= url(topic_doc.path) %>'><%= topic_doc.path.split("/").map { |s| s.split("_").last }.join(".") %></a>
                          <% end %>
                        <% end %>
                    </p>

                </header><!-- End content header. -->

                <%= render 'templates/guide/guide_overview' %>

            </div><!-- End content. -->

        </div><!-- End page. -->

        <%= render "templates/javascript_includes" %>
    </body>
</html>
